@import "_reset.less";
@import "typeplate.less";
@import "fonts.less";
@import "_grid.less";
@import "_header.less";

@black: #444;

// Mixins

.bold() {
  font-family: 'charis_silbold', 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
}

.normal() {
  font-family: 'charis_silregular', 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
}

html {
  font-family: 'charis_silregular', 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
}

::selection {
    background-color: #FFF176;
}

header {
  .tags {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;

    ul {
      display: inline-block;
      max-width: 800px;

      li {
        display: inline-block;
        margin: 3px;
        text-transform: lowercase;
      }
    }
  }
}

body {
  margin: 0 auto;
  width: 98%;

  a {
    text-decoration: none;
  }
}

main {
  .row();

  &.photo {
    width: 100%;
  }
}

.base {
  max-width: 1000px;
  margin: 0 auto;
}

.post-container {
  .column(10);
  .push(1);

  // Override Typeplate h definitions
  h1, h2, h3, h4, h5 {
    text-align: left;
  }

  h1 {
    font-size: 36px;
    font-size: 2rem; /* 36 / 18 = 2 */
    margin-bottom: 14.85px;
    margin-bottom: 0.825rem;
  }

  h2 {
    font-size: 24px;
    font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
    margin-bottom: 22.275px;
    margin-bottom: 1.2375rem;
  }

  h3 {
    font-size: 21px;
    font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
    margin-bottom: 25.45714px;
    margin-bottom: 1.41429rem;
  }

  ul {
    text-align: left;
  }

  p {
    max-width: 800px;
  }

  p.featured-photo {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;

    &:nth-child(1) {
      margin-top: 0;
    }

    img {
      transition: all 0.3s;
      outline: 1px solid #fefefe;

      &:focus {
        max-width: 100%;
        outline: 3px solid #bbb;
      }
    }
  }

  p.featured-photo + p.featured-photo {
    margin-top: -40px;
  }

  figure {
    margin: 40px 0;

    figcaption {
      font-style: italic;
      font-size: 0.8em;
    }
  }

  &.photo {
    margin: 0;
    padding-left: 1em;
    width: 100%;
    text-align: center;

    .post-header {
      max-width: 800px;
      display: inline-block;
      width: 100%;
      text-align: left;
    }

    .date-bubble {
      position: static;
      width: 100px;
      margin: 0 0 10px 0;
    }

    img {
      width: 99%;
      max-width: 800px;
      margin-top: 1em;

      &.featured {
        margin-top: 0;
      }
    }
  }

  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-bottom: 80px;
  position: relative;

  img {
    width: 100%;
    margin-left: -1.5em;
  }

  .date-bubble {
    position: absolute;
    left: -60px;
    top: 24px;
    width: 40px;
    text-align: center;
    font-size: 0.8em;
    background-color: #333;
    padding: 2px;
    color: #eee;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .title {
    .normal();
  }

  .read-more {
    text-indent: 4.5em;
    margin-bottom: 30px;
    text-decoration: underline;
    text-align: left;
  }

  a {
    .bold();
    text-decoration: none;
    color: #444;
  }

  pre {
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px 40px;
    margin: 10px 0 20px;
  }

  ul, ol {
    margin-bottom: 1.5em;
    text-align: left;
  }

  ul {
    li {
      list-style-type: square;
      list-style-position: inside;
      text-indent: 1.5em;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      list-style-position: inside;
      text-indent: 1.5em;
    }
  }
}

@media (min-width: 800px) {
  .post-container {
    padding-bottom: 80px;
    .column(8);
    .push(2);
  }
}

@media (max-width: 799px) {
  header {
    .tags {
      display: none;
    }
  }

  .post-container {
    .date-bubble {
      position: static;
      width: 100px;
      margin: 0 0 10px 0;
    }
  }
}

.index-page {
  max-width: 1000px;
  margin: 0 auto;

  .post-container {
  }
}

.post-container {
  text-align: center;
  h4 {
    text-align: left;
  }

  blockquote {
    position: relative;
    padding: 1em;
    color: #777;

    p {
      text-indent: 2.5em;
    }
  }
  blockquote:before,
  blockquote:after {
    height: 1em;
    opacity: 0.15;
    position: absolute;
    font-size: 3.5em;
    color: #dc976e;
  }
  blockquote:before {
    content: '“';
    top: 0;
    left: 0;
  }
  blockquote:after {
    content: '”';
    bottom: 0;
    right: 0;
  }

  .newer-page {
    float: left;
  }

  .older-page {
    float: right;
  }
}

.post-preview {
  text-align: left;
}

.post-preview p, .post-container p {
  text-align: left;
}

.tags {
  ul {
    display: inline;
  }
  li {
    display: inline;
    margin: 0 5px;
    background: #444;
    padding: 0 8px;
    border-radius: 4px;
    a {
      color: #eee;
    }
  }
}

.tag-index {
  .post-preview {
    margin-bottom: 1.2375rem;
  }
}

footer {
  .row();
  margin-top: 40px;
  margin-bottom: 40px;

  .rss-feed, .email {
    .column(8);
    .push(2);
    text-align: center;

    .rss-feed-link {
      img {
        width: 30px;
      }
    }
  }

  .email {
    margin-bottom: 10px;
    a {
      color: @black;
    }
  }
}

iframe.youtube {
  width: 560px;
  height: 315px;
  margin-bottom: 27px;
}

@media (max-width: 768px) {
  iframe.youtube {
    width: 90%;
    height: 280px;
  }
}
