@import url("reset.css");
@import url("typeplate.css");
@import url("fonts.css");
@import "_grid.less";
@import "_header.less";

@black: #444;

body {
  margin: 0 auto;
}

main {
  .column(12);
  font-family: 'charis_silregular', 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
}

.post-container {
  .column(10);
  .push(1);
}

@media (min-width: 800px) {
  .post-container {
    .column(8);
    .push(2);
  }
}

.index-page {
  .post-container {
    .header-link {
      text-decoration: none;
    }

    p:first-child {

    }
  }
}
