mixin header
  div.header
    a.main-title(href='/')
      h2.main-title Alexander Savin blog
    div.lang-switch
      a.lang-option.active(href='/') Eng
      | /
      a.lang-option(href='/ru/') Ru
