mixin header(lang, tagList)
  header
    case lang
      when 'ru'
        a(href='/ru/')
          h2.main-title.gamma Заметки Александра Савина
        div.lang-switch
          a.lang-option(href='/') Eng
          | /
          a.lang-option.active(href='/ru/') Ru
      default
        a.main-title(href='/')
          h2.main-title.beta Alexander Savin
        div.top-links
          ul
            li
              a(href='https://alexsavin.micro.blog' target='_blank') Microblog
            li
              a(href='https://pixelfed.social/alexsavin' target='_blank') Pixelfed
            li
              a(href='https://github.com/asavin' target='_blank') Github
            li
              a(href='/cv.html') Hire me
        div.lang-switch
          a.lang-option.active(href='/') Eng
          | /
          a.lang-option(href='/ru/') Ru
    if tagList
      div.tags
        ul
          each tag in tagList
            li
              a(href='/#{lang}/tags/#{tag[0]}') #{tag[1].label}

