mixin meta(metaTitle, metaDescription)
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
  meta(name='HandheldFriendly', content='true')
  meta(name='format-detection', content='telephone=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name="apple-mobile-web-app-status-bar-style", content="black")
  meta(name="apple-touch-fullscreen", content="yes")
  meta(name="-webkit-text-size-adjust", content="100%")
  meta(name="title", content="Alexander Savin blog")
  meta(name="description", content="Posts on technology, art, people and future trends")
  meta(property="og:title", content="Alexander Savin blog")
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://alexsavin.me")
  meta(property="og:description", content="Posts on technology, art, people and future trends")
  meta(name="twitter:creator", content="@karismafilms")
  meta(name="twitter:site", content="@karismafilms")
  meta(name="twitter:title", content="Alexander Savin blog")
  meta(name="twitter:description", content="Posts on technology, art, people and future trends")
