---
name : index
---

extends ../layouts/main

include ./eng/header
include ../layouts/mixins/postList

block content
  main.index-page
    mixin header
    +postList(postsEng)
    div.post-container.rss-feed
      a.rss-feed-link(href='/feed.xml')
        img(src='/images/rss.png')
      link(rel="alternate" type="application/rss+xml" href="http://alexsavin.me/feed.xml")

