---
name : index
---

extends ../layouts/main
include ../layouts/mixins/postList

block content
  main.index-page
    +postList(postsEng)
    if pagesAvailable
      div.post-container
        a.older-page(href='/eng/pages/2') Next page

