---
name : index
---

extends ../layouts/main

include header

block content
  main.index-page
    mixin header
    each post in postsRu
      div.post-container
        h3!= post.title
        div!= post.body
