include mixins/header
include mixins/footer
include mixins/scripts
include mixins/meta

doctype html
html
  head
    title
      block title
      | Блог Александра Савина

    mixin meta()
    link(rel='stylesheet', href='/css/style.css')

  body
    +header('ru')
    block content
    +footer('ru')
    +scripts
